<launch>

    <arg name="map" default="nav.yaml" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find nav)/map/$(arg map)"/>

    <include file="$(find nav)/launch/amcl.launch" />
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
