<robot name="mycar" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="inertial.xacro" />
    <xacro:include filename="dipan.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="laser.xacro" /> 
    <xacro:include filename="gazebo/move.xacro" />
    <xacro:include filename="gazebo/laser.xacro" />
    <xacro:include filename="gazebo/camera.xacro" />
    <xacro:include filename="gazebo/kinect.xacro" />
</robot>